<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.siam.system.modular.package_order.mapper.OrderMapper" >
    <resultMap id="BaseResultMap" type="com.siam.system.modular.package_order.entity.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="goods_total_quantity" property="goodsTotalQuantity" jdbcType="INTEGER" />
    <result column="goods_total_price" property="goodsTotalPrice" jdbcType="DECIMAL" />
    <result column="packing_charges" property="packingCharges" jdbcType="DECIMAL" />
    <result column="delivery_fee" property="deliveryFee" jdbcType="DECIMAL" />
    <result column="actual_price" property="actualPrice" jdbcType="DECIMAL" />
    <result column="shopping_way" property="shoppingWay" jdbcType="INTEGER" />
    <result column="delivery_address_id" property="deliveryAddressId" jdbcType="INTEGER" />
    <result column="contact_realname" property="contactRealname" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_province" property="contactProvince" jdbcType="VARCHAR" />
    <result column="contact_city" property="contactCity" jdbcType="VARCHAR" />
    <result column="contact_area" property="contactArea" jdbcType="VARCHAR" />
    <result column="contact_street" property="contactStreet" jdbcType="VARCHAR" />
    <result column="contact_sex" property="contactSex" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="trade_id" property="tradeId" jdbcType="INTEGER" />
    <result column="order_logistics_id" property="orderLogisticsId" jdbcType="INTEGER" />
    <result column="is_invoice" property="isInvoice" jdbcType="BIT" />
    <result column="invoice_id" property="invoiceId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_address" property="shopAddress" jdbcType="VARCHAR" />
    <result column="cancel_reason" property="cancelReason" jdbcType="INTEGER" />
    <result column="payment_deadline" property="paymentDeadline" jdbcType="TIMESTAMP" />
    <result column="is_printed" property="isPrinted" jdbcType="BIT" />
    <result column="queue_no" property="queueNo" jdbcType="INTEGER" />
    <result column="full_reduction_rule_id" property="fullReductionRuleId" jdbcType="INTEGER" />
    <result column="full_reduction_rule_description" property="fullReductionRuleDescription" jdbcType="VARCHAR" />
    <result column="coupons_id" property="couponsId" jdbcType="INTEGER" />
    <result column="coupons_description" property="couponsDescription" jdbcType="VARCHAR" />
    <result column="coupons_member_relation_id" property="couponsMemberRelationId" jdbcType="INTEGER" />
    <result column="is_change_to_delivery" property="isChangeToDelivery" jdbcType="BIT" />
    <result column="change_to_delivery_out_trade_no" property="changeToDeliveryOutTradeNo" jdbcType="VARCHAR" />
    <result column="change_to_delivery_trade_id" property="changeToDeliveryTradeId" jdbcType="INTEGER" />
    <result column="platform_extract_ratio" property="platformExtractRatio" jdbcType="DECIMAL" />
    <result column="platform_extract_price" property="platformExtractPrice" jdbcType="DECIMAL" />
    <result column="platform_delivery_fee" property="platformDeliveryFee" jdbcType="DECIMAL" />
    <result column="platform_income" property="platformIncome" jdbcType="DECIMAL" />
    <result column="merchant_delivery_fee" property="merchantDeliveryFee" jdbcType="DECIMAL" />
    <result column="courier_income" property="courierIncome" jdbcType="DECIMAL" />
    <result column="merchant_income" property="merchantIncome" jdbcType="DECIMAL" />
    <result column="payment_success_time" property="paymentSuccessTime" jdbcType="TIMESTAMP" />
    <result column="order_completion_time" property="orderCompletionTime" jdbcType="TIMESTAMP" />
    <result column="paid_order_cancel_reason" property="paidOrderCancelReason" jdbcType="INTEGER" />
    <result column="limited_price" property="limitedPrice" jdbcType="DECIMAL" />
    <result column="reduced_price" property="reducedPrice" jdbcType="DECIMAL" />
    <result column="coupons_discount_price" property="couponsDiscountPrice" jdbcType="DECIMAL" />
    <result column="delivery_way" property="deliveryWay" jdbcType="INTEGER" />
    <result column="is_pay_to_merchant" property="isPayToMerchant" jdbcType="BIT" />
    <result column="before_reduced_delivery_fee" property="beforeReducedDeliveryFee" jdbcType="DECIMAL" />
    <result column="payment_mode" property="paymentMode" jdbcType="INTEGER" />
    <result column="contact_house_number" property="contactHouseNumber" jdbcType="VARCHAR" />
    <result column="contact_longitude" property="contactLongitude" jdbcType="DECIMAL" />
    <result column="contact_latitude" property="contactLatitude" jdbcType="DECIMAL" />
    <result column="shop_logo_img" property="shopLogoImg" jdbcType="VARCHAR" />
    <result column="order_channel" property="orderChannel" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="checkout_mode" property="checkoutMode" jdbcType="INTEGER" />
    <result column="table_no" property="tableNo" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="is_payment" property="isPayment" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="CustomResultMap" type="java.util.Map" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="goods_total_quantity" property="goodsTotalQuantity" jdbcType="INTEGER" />
    <result column="goods_total_price" property="goodsTotalPrice" jdbcType="DECIMAL" />
    <result column="packing_charges" property="packingCharges" jdbcType="DECIMAL" />
    <result column="delivery_fee" property="deliveryFee" jdbcType="DECIMAL" />
    <result column="actual_price" property="actualPrice" jdbcType="DECIMAL" />
    <result column="shopping_way" property="shoppingWay" jdbcType="INTEGER" />
    <result column="delivery_address_id" property="deliveryAddressId" jdbcType="INTEGER" />
    <result column="contact_realname" property="contactRealname" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_province" property="contactProvince" jdbcType="VARCHAR" />
    <result column="contact_city" property="contactCity" jdbcType="VARCHAR" />
    <result column="contact_area" property="contactArea" jdbcType="VARCHAR" />
    <result column="contact_street" property="contactStreet" jdbcType="VARCHAR" />
    <result column="contact_sex" property="contactSex" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="trade_id" property="tradeId" jdbcType="INTEGER" />
    <result column="order_logistics_id" property="orderLogisticsId" jdbcType="INTEGER" />
    <result column="is_invoice" property="isInvoice" jdbcType="BIT" />
    <result column="invoice_id" property="invoiceId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_address" property="shopAddress" jdbcType="VARCHAR" />
    <result column="cancel_reason" property="cancelReason" jdbcType="INTEGER" />
    <result column="payment_deadline" property="paymentDeadline" jdbcType="TIMESTAMP" />
    <result column="is_printed" property="isPrinted" jdbcType="BIT" />
    <result column="queue_no" property="queueNo" jdbcType="INTEGER" />
    <result column="full_reduction_rule_id" property="fullReductionRuleId" jdbcType="INTEGER" />
    <result column="full_reduction_rule_description" property="fullReductionRuleDescription" jdbcType="VARCHAR" />
    <result column="coupons_id" property="couponsId" jdbcType="INTEGER" />
    <result column="coupons_description" property="couponsDescription" jdbcType="VARCHAR" />
    <result column="coupons_member_relation_id" property="couponsMemberRelationId" jdbcType="INTEGER" />
    <result column="is_change_to_delivery" property="isChangeToDelivery" jdbcType="BIT" />
    <result column="change_to_delivery_out_trade_no" property="changeToDeliveryOutTradeNo" jdbcType="VARCHAR" />
    <result column="change_to_delivery_trade_id" property="changeToDeliveryTradeId" jdbcType="INTEGER" />
    <result column="platform_extract_ratio" property="platformExtractRatio" jdbcType="DECIMAL" />
    <result column="platform_extract_price" property="platformExtractPrice" jdbcType="DECIMAL" />
    <result column="platform_delivery_fee" property="platformDeliveryFee" jdbcType="DECIMAL" />
    <result column="platform_income" property="platformIncome" jdbcType="DECIMAL" />
    <result column="merchant_delivery_fee" property="merchantDeliveryFee" jdbcType="DECIMAL" />
    <result column="courier_income" property="courierIncome" jdbcType="DECIMAL" />
    <result column="merchant_income" property="merchantIncome" jdbcType="DECIMAL" />
    <result column="payment_success_time" property="paymentSuccessTime" jdbcType="TIMESTAMP" />
    <result column="order_completion_time" property="orderCompletionTime" jdbcType="TIMESTAMP" />
    <result column="paid_order_cancel_reason" property="paidOrderCancelReason" jdbcType="INTEGER" />
    <result column="limited_price" property="limitedPrice" jdbcType="DECIMAL" />
    <result column="reduced_price" property="reducedPrice" jdbcType="DECIMAL" />
    <result column="coupons_discount_price" property="couponsDiscountPrice" jdbcType="DECIMAL" />
    <result column="delivery_way" property="deliveryWay" jdbcType="INTEGER" />
    <result column="is_pay_to_merchant" property="isPayToMerchant" jdbcType="BIT" />
    <result column="before_reduced_delivery_fee" property="beforeReducedDeliveryFee" jdbcType="DECIMAL" />
    <result column="payment_mode" property="paymentMode" jdbcType="INTEGER" />
    <result column="contact_house_number" property="contactHouseNumber" jdbcType="VARCHAR" />
    <result column="contact_longitude" property="contactLongitude" jdbcType="DECIMAL" />
    <result column="contact_latitude" property="contactLatitude" jdbcType="DECIMAL" />
    <result column="shop_logo_img" property="shopLogoImg" jdbcType="VARCHAR" />
    <result column="order_channel" property="orderChannel" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="checkout_mode" property="checkoutMode" jdbcType="INTEGER" />
    <result column="table_no" property="tableNo" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="is_payment" property="isPayment" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>