<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siam.system.modular.package_goods.mapper.internal.PrinterMapper" >
  <resultMap id="BaseResultMap" type="com.siam.system.modular.package_goods.entity.internal.Printer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="identifying_code" property="identifyingCode" jdbcType="VARCHAR" />
    <result column="is_auto_print" property="isAutoPrint" jdbcType="BIT" />
    <result column="mobile_card_number" property="mobileCardNumber" jdbcType="VARCHAR" />
    <result column="cloud_registration_status" property="cloudRegistrationStatus" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="brand" property="brand" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="CustomResultMap" type="java.util.Map" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="identifying_code" property="identifyingCode" jdbcType="VARCHAR" />
    <result column="is_auto_print" property="isAutoPrint" jdbcType="BIT" />
    <result column="mobile_card_number" property="mobileCardNumber" jdbcType="VARCHAR" />
    <result column="cloud_registration_status" property="cloudRegistrationStatus" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="brand" property="brand" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shop_id, name, number, identifying_code, is_auto_print, mobile_card_number, cloud_registration_status, 
    type, brand, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.siam.system.modular.package_goods.model.example.internal.PrinterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_printer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_printer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_printer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.siam.system.modular.package_goods.model.example.internal.PrinterExample" >
    delete from tb_printer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insertSelective" parameterType="com.siam.system.modular.package_goods.entity.internal.Printer" useGeneratedKeys="true" keyProperty="id">
    insert into tb_printer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="identifyingCode != null" >
        identifying_code,
      </if>
      <if test="isAutoPrint != null" >
        is_auto_print,
      </if>
      <if test="mobileCardNumber != null" >
        mobile_card_number,
      </if>
      <if test="cloudRegistrationStatus != null" >
        cloud_registration_status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="identifyingCode != null" >
        #{identifyingCode,jdbcType=VARCHAR},
      </if>
      <if test="isAutoPrint != null" >
        #{isAutoPrint,jdbcType=BIT},
      </if>
      <if test="mobileCardNumber != null" >
        #{mobileCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="cloudRegistrationStatus != null" >
        #{cloudRegistrationStatus,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.siam.system.modular.package_goods.model.example.internal.PrinterExample" resultType="java.lang.Integer" >
    select count(*) from tb_printer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_printer
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.identifyingCode != null" >
        identifying_code = #{record.identifyingCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isAutoPrint != null" >
        is_auto_print = #{record.isAutoPrint,jdbcType=BIT},
      </if>
      <if test="record.mobileCardNumber != null" >
        mobile_card_number = #{record.mobileCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.cloudRegistrationStatus != null" >
        cloud_registration_status = #{record.cloudRegistrationStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_printer
    set id = #{record.id,jdbcType=INTEGER},
      shop_id = #{record.shopId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=VARCHAR},
      identifying_code = #{record.identifyingCode,jdbcType=VARCHAR},
      is_auto_print = #{record.isAutoPrint,jdbcType=BIT},
      mobile_card_number = #{record.mobileCardNumber,jdbcType=VARCHAR},
      cloud_registration_status = #{record.cloudRegistrationStatus,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      brand = #{record.brand,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.siam.system.modular.package_goods.entity.internal.Printer" >
    update tb_printer
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="identifyingCode != null" >
        identifying_code = #{identifyingCode,jdbcType=VARCHAR},
      </if>
      <if test="isAutoPrint != null" >
        is_auto_print = #{isAutoPrint,jdbcType=BIT},
      </if>
      <if test="mobileCardNumber != null" >
        mobile_card_number = #{mobileCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="cloudRegistrationStatus != null" >
        cloud_registration_status = #{cloudRegistrationStatus,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siam.system.modular.package_goods.entity.internal.Printer" >
    update tb_printer
    set shop_id = #{shopId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      identifying_code = #{identifyingCode,jdbcType=VARCHAR},
      is_auto_print = #{isAutoPrint,jdbcType=BIT},
      mobile_card_number = #{mobileCardNumber,jdbcType=VARCHAR},
      cloud_registration_status = #{cloudRegistrationStatus,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      brand = #{brand,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>