<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siam.system.modular.package_goods.mapper.internal.VipRechargeDenominationMapper" >
  <resultMap id="BaseResultMap" type="com.siam.system.modular.package_goods.entity.internal.VipRechargeDenomination" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="is_sale" property="isSale" jdbcType="BIT" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="brief_description" property="briefDescription" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="is_give_balance" property="isGiveBalance" jdbcType="BIT" />
    <result column="give_balance" property="giveBalance" jdbcType="DECIMAL" />
    <result column="is_give_coupons" property="isGiveCoupons" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="CustomResultMap" type="java.util.Map" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="is_sale" property="isSale" jdbcType="BIT" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="brief_description" property="briefDescription" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="is_give_balance" property="isGiveBalance" jdbcType="BIT" />
    <result column="give_balance" property="giveBalance" jdbcType="DECIMAL" />
    <result column="is_give_coupons" property="isGiveCoupons" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, price, is_sale, sale_price, brief_description, description, is_give_balance, 
    give_balance, is_give_coupons, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.siam.system.modular.package_goods.model.example.internal.VipRechargeDenominationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_vip_recharge_denomination
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_vip_recharge_denomination
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_vip_recharge_denomination
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.siam.system.modular.package_goods.model.example.internal.VipRechargeDenominationExample" >
    delete from tb_vip_recharge_denomination
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insertSelective" parameterType="com.siam.system.modular.package_goods.entity.internal.VipRechargeDenomination" useGeneratedKeys="true" keyProperty="id">
    insert into tb_vip_recharge_denomination
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="isSale != null" >
        is_sale,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="briefDescription != null" >
        brief_description,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="isGiveBalance != null" >
        is_give_balance,
      </if>
      <if test="giveBalance != null" >
        give_balance,
      </if>
      <if test="isGiveCoupons != null" >
        is_give_coupons,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="isSale != null" >
        #{isSale,jdbcType=BIT},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="briefDescription != null" >
        #{briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isGiveBalance != null" >
        #{isGiveBalance,jdbcType=BIT},
      </if>
      <if test="giveBalance != null" >
        #{giveBalance,jdbcType=DECIMAL},
      </if>
      <if test="isGiveCoupons != null" >
        #{isGiveCoupons,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.siam.system.modular.package_goods.model.example.internal.VipRechargeDenominationExample" resultType="java.lang.Integer" >
    select count(*) from tb_vip_recharge_denomination
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_vip_recharge_denomination
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.isSale != null" >
        is_sale = #{record.isSale,jdbcType=BIT},
      </if>
      <if test="record.salePrice != null" >
        sale_price = #{record.salePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.briefDescription != null" >
        brief_description = #{record.briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.isGiveBalance != null" >
        is_give_balance = #{record.isGiveBalance,jdbcType=BIT},
      </if>
      <if test="record.giveBalance != null" >
        give_balance = #{record.giveBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.isGiveCoupons != null" >
        is_give_coupons = #{record.isGiveCoupons,jdbcType=BIT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_vip_recharge_denomination
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      is_sale = #{record.isSale,jdbcType=BIT},
      sale_price = #{record.salePrice,jdbcType=DECIMAL},
      brief_description = #{record.briefDescription,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      is_give_balance = #{record.isGiveBalance,jdbcType=BIT},
      give_balance = #{record.giveBalance,jdbcType=DECIMAL},
      is_give_coupons = #{record.isGiveCoupons,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.siam.system.modular.package_goods.entity.internal.VipRechargeDenomination" >
    update tb_vip_recharge_denomination
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="isSale != null" >
        is_sale = #{isSale,jdbcType=BIT},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="briefDescription != null" >
        brief_description = #{briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isGiveBalance != null" >
        is_give_balance = #{isGiveBalance,jdbcType=BIT},
      </if>
      <if test="giveBalance != null" >
        give_balance = #{giveBalance,jdbcType=DECIMAL},
      </if>
      <if test="isGiveCoupons != null" >
        is_give_coupons = #{isGiveCoupons,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siam.system.modular.package_goods.entity.internal.VipRechargeDenomination" >
    update tb_vip_recharge_denomination
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      is_sale = #{isSale,jdbcType=BIT},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      brief_description = #{briefDescription,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      is_give_balance = #{isGiveBalance,jdbcType=BIT},
      give_balance = #{giveBalance,jdbcType=DECIMAL},
      is_give_coupons = #{isGiveCoupons,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>