<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siam.system.modular.package_goods.mapper.ShopMapper" >
  <!-- 业务逻辑部分 -->
  <select id="selectByDistance" resultMap="BaseResultMap" parameterType="com.siam.system.modular.package_goods.entity.Shop">
    select
      *
    from
      (select
        *,
        round(
          6378.138 * 2 * asin(
            sqrt(
              pow(
                sin(
                  (
                    #{paramCondition.positionLatitude} * pi() / 180 - latitude * pi() / 180
                  ) / 2
                ),
                2
              ) + cos(#{paramCondition.positionLatitude} * pi() / 180) * cos(latitude * pi() / 180) * pow(
                sin(
                  (
                    #{paramCondition.positionLongitude} * pi() / 180 - longitude * pi() / 180
                  ) / 2
                ),
                2
              )
            )
          ) * 1000
        ) as distance
      from
        tb_shop) as t
    where status = 2 and distance &lt;= #{paramCondition.deliveryDistanceLimit}
    order by distance asc
  </select>

  <select id="selectMapByDistance" resultMap="CustomResultMap" parameterType="com.siam.system.modular.package_goods.entity.Shop">
    select
      *
    from
      (select
        *,
        round(
          6378.138 * 2 * asin(
            sqrt(
              pow(
                sin(
                  (
                    #{paramCondition.positionLatitude} * pi() / 180 - latitude * pi() / 180
                  ) / 2
                ),
                2
              ) + cos(#{paramCondition.positionLatitude} * pi() / 180) * cos(latitude * pi() / 180) * pow(
                sin(
                  (
                    #{paramCondition.positionLongitude} * pi() / 180 - longitude * pi() / 180
                  ) / 2
                ),
                2
              )
            )
          ) * 1000
        ) as distance
      from
        tb_shop) as t
    where status = 2 and distance &lt;= #{paramCondition.deliveryDistanceLimit}
    order by distance asc
  </select>

  <resultMap id="BaseResultMap" type="com.siam.system.modular.package_goods.entity.Shop" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="is_operating" property="isOperating" jdbcType="BIT" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="manage_primary" property="managePrimary" jdbcType="VARCHAR" />
    <result column="manage_minor" property="manageMinor" jdbcType="VARCHAR" />
    <result column="shop_img" property="shopImg" jdbcType="VARCHAR" />
    <result column="shop_within_img" property="shopWithinImg" jdbcType="VARCHAR" />
    <result column="shop_logo_img" property="shopLogoImg" jdbcType="VARCHAR" />
    <result column="certificate_type1" property="certificateType1" jdbcType="VARCHAR" />
    <result column="certificate_img1" property="certificateImg1" jdbcType="VARCHAR" />
    <result column="certificate_type2" property="certificateType2" jdbcType="VARCHAR" />
    <result column="certificate_img2" property="certificateImg2" jdbcType="VARCHAR" />
    <result column="special_type" property="specialType" jdbcType="VARCHAR" />
    <result column="special_img" property="specialImg" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="audit_reason" property="auditReason" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="take_out_phone" property="takeOutPhone" jdbcType="VARCHAR" />
    <result column="contact_realname" property="contactRealname" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="announcement" property="announcement" jdbcType="VARCHAR" />
    <result column="brief_introduction" property="briefIntroduction" jdbcType="VARCHAR" />
    <result column="start_delivery_price" property="startDeliveryPrice" jdbcType="DECIMAL" />
    <result column="delivery_starting_price" property="deliveryStartingPrice" jdbcType="DECIMAL" />
    <result column="delivery_kilometer_price" property="deliveryKilometerPrice" jdbcType="DECIMAL" />
    <result column="delivery_distance_limit" property="deliveryDistanceLimit" jdbcType="DECIMAL" />
    <result column="service_rating" property="serviceRating" jdbcType="DECIMAL" />
    <result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
    <result column="id_card_front_side" property="idCardFrontSide" jdbcType="VARCHAR" />
    <result column="id_card_back_side" property="idCardBackSide" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reduced_delivery_price" property="reducedDeliveryPrice" jdbcType="DECIMAL" />
    <result column="is_open_order_audio" property="isOpenOrderAudio" jdbcType="BIT" />
    <result column="is_open_local_print" property="isOpenLocalPrint" jdbcType="BIT" />
    <result column="is_open_cloud_print" property="isOpenCloudPrint" jdbcType="BIT" />
    <result column="first_poster" property="firstPoster" jdbcType="VARCHAR" />
    <result column="house_number" property="houseNumber" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="CustomResultMap" type="java.util.Map" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="is_operating" property="isOperating" jdbcType="BIT" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="manage_primary" property="managePrimary" jdbcType="VARCHAR" />
    <result column="manage_minor" property="manageMinor" jdbcType="VARCHAR" />
    <result column="shop_img" property="shopImg" jdbcType="VARCHAR" />
    <result column="shop_within_img" property="shopWithinImg" jdbcType="VARCHAR" />
    <result column="shop_logo_img" property="shopLogoImg" jdbcType="VARCHAR" />
    <result column="certificate_type1" property="certificateType1" jdbcType="VARCHAR" />
    <result column="certificate_img1" property="certificateImg1" jdbcType="VARCHAR" />
    <result column="certificate_type2" property="certificateType2" jdbcType="VARCHAR" />
    <result column="certificate_img2" property="certificateImg2" jdbcType="VARCHAR" />
    <result column="special_type" property="specialType" jdbcType="VARCHAR" />
    <result column="special_img" property="specialImg" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="audit_reason" property="auditReason" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="take_out_phone" property="takeOutPhone" jdbcType="VARCHAR" />
    <result column="contact_realname" property="contactRealname" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="announcement" property="announcement" jdbcType="VARCHAR" />
    <result column="brief_introduction" property="briefIntroduction" jdbcType="VARCHAR" />
    <result column="start_delivery_price" property="startDeliveryPrice" jdbcType="DECIMAL" />
    <result column="delivery_starting_price" property="deliveryStartingPrice" jdbcType="DECIMAL" />
    <result column="delivery_kilometer_price" property="deliveryKilometerPrice" jdbcType="DECIMAL" />
    <result column="delivery_distance_limit" property="deliveryDistanceLimit" jdbcType="DECIMAL" />
    <result column="service_rating" property="serviceRating" jdbcType="DECIMAL" />
    <result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
    <result column="id_card_front_side" property="idCardFrontSide" jdbcType="VARCHAR" />
    <result column="id_card_back_side" property="idCardBackSide" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reduced_delivery_price" property="reducedDeliveryPrice" jdbcType="DECIMAL" />
    <result column="is_open_order_audio" property="isOpenOrderAudio" jdbcType="BIT" />
    <result column="is_open_local_print" property="isOpenLocalPrint" jdbcType="BIT" />
    <result column="is_open_cloud_print" property="isOpenCloudPrint" jdbcType="BIT" />
    <result column="first_poster" property="firstPoster" jdbcType="VARCHAR" />
    <result column="house_number" property="houseNumber" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, merchant_id, name, code, province, city, area, street, is_operating, start_time,
    end_time, manage_primary, manage_minor, shop_img, shop_within_img, shop_logo_img,
    certificate_type1, certificate_img1, certificate_type2, certificate_img2, special_type,
    special_img, audit_status, audit_reason, audit_time, take_out_phone, contact_realname,
    contact_phone, announcement, brief_introduction, start_delivery_price, delivery_starting_price,
    delivery_kilometer_price, delivery_distance_limit, service_rating, business_license,
    id_card_front_side, id_card_back_side, status, reduced_delivery_price, is_open_order_audio,
    is_open_local_print, is_open_cloud_print, first_poster, house_number, longitude,
    latitude, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.siam.system.modular.package_goods.model.example.ShopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_shop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.siam.system.modular.package_goods.model.example.ShopExample" >
    delete from tb_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insertSelective" parameterType="com.siam.system.modular.package_goods.entity.Shop" useGeneratedKeys="true" keyProperty="id">
    insert into tb_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="isOperating != null" >
        is_operating,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="managePrimary != null" >
        manage_primary,
      </if>
      <if test="manageMinor != null" >
        manage_minor,
      </if>
      <if test="shopImg != null" >
        shop_img,
      </if>
      <if test="shopWithinImg != null" >
        shop_within_img,
      </if>
      <if test="shopLogoImg != null" >
        shop_logo_img,
      </if>
      <if test="certificateType1 != null" >
        certificate_type1,
      </if>
      <if test="certificateImg1 != null" >
        certificate_img1,
      </if>
      <if test="certificateType2 != null" >
        certificate_type2,
      </if>
      <if test="certificateImg2 != null" >
        certificate_img2,
      </if>
      <if test="specialType != null" >
        special_type,
      </if>
      <if test="specialImg != null" >
        special_img,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditReason != null" >
        audit_reason,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="takeOutPhone != null" >
        take_out_phone,
      </if>
      <if test="contactRealname != null" >
        contact_realname,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="announcement != null" >
        announcement,
      </if>
      <if test="briefIntroduction != null" >
        brief_introduction,
      </if>
      <if test="startDeliveryPrice != null" >
        start_delivery_price,
      </if>
      <if test="deliveryStartingPrice != null" >
        delivery_starting_price,
      </if>
      <if test="deliveryKilometerPrice != null" >
        delivery_kilometer_price,
      </if>
      <if test="deliveryDistanceLimit != null" >
        delivery_distance_limit,
      </if>
      <if test="serviceRating != null" >
        service_rating,
      </if>
      <if test="businessLicense != null" >
        business_license,
      </if>
      <if test="idCardFrontSide != null" >
        id_card_front_side,
      </if>
      <if test="idCardBackSide != null" >
        id_card_back_side,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="reducedDeliveryPrice != null" >
        reduced_delivery_price,
      </if>
      <if test="isOpenOrderAudio != null" >
        is_open_order_audio,
      </if>
      <if test="isOpenLocalPrint != null" >
        is_open_local_print,
      </if>
      <if test="isOpenCloudPrint != null" >
        is_open_cloud_print,
      </if>
      <if test="firstPoster != null" >
        first_poster,
      </if>
      <if test="houseNumber != null" >
        house_number,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="isOperating != null" >
        #{isOperating,jdbcType=BIT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="managePrimary != null" >
        #{managePrimary,jdbcType=VARCHAR},
      </if>
      <if test="manageMinor != null" >
        #{manageMinor,jdbcType=VARCHAR},
      </if>
      <if test="shopImg != null" >
        #{shopImg,jdbcType=VARCHAR},
      </if>
      <if test="shopWithinImg != null" >
        #{shopWithinImg,jdbcType=VARCHAR},
      </if>
      <if test="shopLogoImg != null" >
        #{shopLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="certificateType1 != null" >
        #{certificateType1,jdbcType=VARCHAR},
      </if>
      <if test="certificateImg1 != null" >
        #{certificateImg1,jdbcType=VARCHAR},
      </if>
      <if test="certificateType2 != null" >
        #{certificateType2,jdbcType=VARCHAR},
      </if>
      <if test="certificateImg2 != null" >
        #{certificateImg2,jdbcType=VARCHAR},
      </if>
      <if test="specialType != null" >
        #{specialType,jdbcType=VARCHAR},
      </if>
      <if test="specialImg != null" >
        #{specialImg,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditReason != null" >
        #{auditReason,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="takeOutPhone != null" >
        #{takeOutPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactRealname != null" >
        #{contactRealname,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="announcement != null" >
        #{announcement,jdbcType=VARCHAR},
      </if>
      <if test="briefIntroduction != null" >
        #{briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="startDeliveryPrice != null" >
        #{startDeliveryPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliveryStartingPrice != null" >
        #{deliveryStartingPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliveryKilometerPrice != null" >
        #{deliveryKilometerPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliveryDistanceLimit != null" >
        #{deliveryDistanceLimit,jdbcType=DECIMAL},
      </if>
      <if test="serviceRating != null" >
        #{serviceRating,jdbcType=DECIMAL},
      </if>
      <if test="businessLicense != null" >
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="idCardFrontSide != null" >
        #{idCardFrontSide,jdbcType=VARCHAR},
      </if>
      <if test="idCardBackSide != null" >
        #{idCardBackSide,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="reducedDeliveryPrice != null" >
        #{reducedDeliveryPrice,jdbcType=DECIMAL},
      </if>
      <if test="isOpenOrderAudio != null" >
        #{isOpenOrderAudio,jdbcType=BIT},
      </if>
      <if test="isOpenLocalPrint != null" >
        #{isOpenLocalPrint,jdbcType=BIT},
      </if>
      <if test="isOpenCloudPrint != null" >
        #{isOpenCloudPrint,jdbcType=BIT},
      </if>
      <if test="firstPoster != null" >
        #{firstPoster,jdbcType=VARCHAR},
      </if>
      <if test="houseNumber != null" >
        #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.siam.system.modular.package_goods.model.example.ShopExample" resultType="java.lang.Integer" >
    select count(*) from tb_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_shop
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.merchantId != null" >
        merchant_id = #{record.merchantId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.street != null" >
        street = #{record.street,jdbcType=VARCHAR},
      </if>
      <if test="record.isOperating != null" >
        is_operating = #{record.isOperating,jdbcType=BIT},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.managePrimary != null" >
        manage_primary = #{record.managePrimary,jdbcType=VARCHAR},
      </if>
      <if test="record.manageMinor != null" >
        manage_minor = #{record.manageMinor,jdbcType=VARCHAR},
      </if>
      <if test="record.shopImg != null" >
        shop_img = #{record.shopImg,jdbcType=VARCHAR},
      </if>
      <if test="record.shopWithinImg != null" >
        shop_within_img = #{record.shopWithinImg,jdbcType=VARCHAR},
      </if>
      <if test="record.shopLogoImg != null" >
        shop_logo_img = #{record.shopLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateType1 != null" >
        certificate_type1 = #{record.certificateType1,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateImg1 != null" >
        certificate_img1 = #{record.certificateImg1,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateType2 != null" >
        certificate_type2 = #{record.certificateType2,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateImg2 != null" >
        certificate_img2 = #{record.certificateImg2,jdbcType=VARCHAR},
      </if>
      <if test="record.specialType != null" >
        special_type = #{record.specialType,jdbcType=VARCHAR},
      </if>
      <if test="record.specialImg != null" >
        special_img = #{record.specialImg,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=INTEGER},
      </if>
      <if test="record.auditReason != null" >
        audit_reason = #{record.auditReason,jdbcType=VARCHAR},
      </if>
      <if test="record.auditTime != null" >
        audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.takeOutPhone != null" >
        take_out_phone = #{record.takeOutPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.contactRealname != null" >
        contact_realname = #{record.contactRealname,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null" >
        contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.announcement != null" >
        announcement = #{record.announcement,jdbcType=VARCHAR},
      </if>
      <if test="record.briefIntroduction != null" >
        brief_introduction = #{record.briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.startDeliveryPrice != null" >
        start_delivery_price = #{record.startDeliveryPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.deliveryStartingPrice != null" >
        delivery_starting_price = #{record.deliveryStartingPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.deliveryKilometerPrice != null" >
        delivery_kilometer_price = #{record.deliveryKilometerPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.deliveryDistanceLimit != null" >
        delivery_distance_limit = #{record.deliveryDistanceLimit,jdbcType=DECIMAL},
      </if>
      <if test="record.serviceRating != null" >
        service_rating = #{record.serviceRating,jdbcType=DECIMAL},
      </if>
      <if test="record.businessLicense != null" >
        business_license = #{record.businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardFrontSide != null" >
        id_card_front_side = #{record.idCardFrontSide,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardBackSide != null" >
        id_card_back_side = #{record.idCardBackSide,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.reducedDeliveryPrice != null" >
        reduced_delivery_price = #{record.reducedDeliveryPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.isOpenOrderAudio != null" >
        is_open_order_audio = #{record.isOpenOrderAudio,jdbcType=BIT},
      </if>
      <if test="record.isOpenLocalPrint != null" >
        is_open_local_print = #{record.isOpenLocalPrint,jdbcType=BIT},
      </if>
      <if test="record.isOpenCloudPrint != null" >
        is_open_cloud_print = #{record.isOpenCloudPrint,jdbcType=BIT},
      </if>
      <if test="record.firstPoster != null" >
        first_poster = #{record.firstPoster,jdbcType=VARCHAR},
      </if>
      <if test="record.houseNumber != null" >
        house_number = #{record.houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=DECIMAL},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_shop
    set id = #{record.id,jdbcType=INTEGER},
    merchant_id = #{record.merchantId,jdbcType=INTEGER},
    name = #{record.name,jdbcType=VARCHAR},
    code = #{record.code,jdbcType=VARCHAR},
    province = #{record.province,jdbcType=VARCHAR},
    city = #{record.city,jdbcType=VARCHAR},
    area = #{record.area,jdbcType=VARCHAR},
    street = #{record.street,jdbcType=VARCHAR},
    is_operating = #{record.isOperating,jdbcType=BIT},
    start_time = #{record.startTime,jdbcType=VARCHAR},
    end_time = #{record.endTime,jdbcType=VARCHAR},
    manage_primary = #{record.managePrimary,jdbcType=VARCHAR},
    manage_minor = #{record.manageMinor,jdbcType=VARCHAR},
    shop_img = #{record.shopImg,jdbcType=VARCHAR},
    shop_within_img = #{record.shopWithinImg,jdbcType=VARCHAR},
    shop_logo_img = #{record.shopLogoImg,jdbcType=VARCHAR},
    certificate_type1 = #{record.certificateType1,jdbcType=VARCHAR},
    certificate_img1 = #{record.certificateImg1,jdbcType=VARCHAR},
    certificate_type2 = #{record.certificateType2,jdbcType=VARCHAR},
    certificate_img2 = #{record.certificateImg2,jdbcType=VARCHAR},
    special_type = #{record.specialType,jdbcType=VARCHAR},
    special_img = #{record.specialImg,jdbcType=VARCHAR},
    audit_status = #{record.auditStatus,jdbcType=INTEGER},
    audit_reason = #{record.auditReason,jdbcType=VARCHAR},
    audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
    take_out_phone = #{record.takeOutPhone,jdbcType=VARCHAR},
    contact_realname = #{record.contactRealname,jdbcType=VARCHAR},
    contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
    announcement = #{record.announcement,jdbcType=VARCHAR},
    brief_introduction = #{record.briefIntroduction,jdbcType=VARCHAR},
    start_delivery_price = #{record.startDeliveryPrice,jdbcType=DECIMAL},
    delivery_starting_price = #{record.deliveryStartingPrice,jdbcType=DECIMAL},
    delivery_kilometer_price = #{record.deliveryKilometerPrice,jdbcType=DECIMAL},
    delivery_distance_limit = #{record.deliveryDistanceLimit,jdbcType=DECIMAL},
    service_rating = #{record.serviceRating,jdbcType=DECIMAL},
    business_license = #{record.businessLicense,jdbcType=VARCHAR},
    id_card_front_side = #{record.idCardFrontSide,jdbcType=VARCHAR},
    id_card_back_side = #{record.idCardBackSide,jdbcType=VARCHAR},
    status = #{record.status,jdbcType=INTEGER},
    reduced_delivery_price = #{record.reducedDeliveryPrice,jdbcType=DECIMAL},
    is_open_order_audio = #{record.isOpenOrderAudio,jdbcType=BIT},
    is_open_local_print = #{record.isOpenLocalPrint,jdbcType=BIT},
    is_open_cloud_print = #{record.isOpenCloudPrint,jdbcType=BIT},
    first_poster = #{record.firstPoster,jdbcType=VARCHAR},
    house_number = #{record.houseNumber,jdbcType=VARCHAR},
    longitude = #{record.longitude,jdbcType=DECIMAL},
    latitude = #{record.latitude,jdbcType=DECIMAL},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.siam.system.modular.package_goods.entity.Shop" >
    update tb_shop
    <set >
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="isOperating != null" >
        is_operating = #{isOperating,jdbcType=BIT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="managePrimary != null" >
        manage_primary = #{managePrimary,jdbcType=VARCHAR},
      </if>
      <if test="manageMinor != null" >
        manage_minor = #{manageMinor,jdbcType=VARCHAR},
      </if>
      <if test="shopImg != null" >
        shop_img = #{shopImg,jdbcType=VARCHAR},
      </if>
      <if test="shopWithinImg != null" >
        shop_within_img = #{shopWithinImg,jdbcType=VARCHAR},
      </if>
      <if test="shopLogoImg != null" >
        shop_logo_img = #{shopLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="certificateType1 != null" >
        certificate_type1 = #{certificateType1,jdbcType=VARCHAR},
      </if>
      <if test="certificateImg1 != null" >
        certificate_img1 = #{certificateImg1,jdbcType=VARCHAR},
      </if>
      <if test="certificateType2 != null" >
        certificate_type2 = #{certificateType2,jdbcType=VARCHAR},
      </if>
      <if test="certificateImg2 != null" >
        certificate_img2 = #{certificateImg2,jdbcType=VARCHAR},
      </if>
      <if test="specialType != null" >
        special_type = #{specialType,jdbcType=VARCHAR},
      </if>
      <if test="specialImg != null" >
        special_img = #{specialImg,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditReason != null" >
        audit_reason = #{auditReason,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="takeOutPhone != null" >
        take_out_phone = #{takeOutPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactRealname != null" >
        contact_realname = #{contactRealname,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="announcement != null" >
        announcement = #{announcement,jdbcType=VARCHAR},
      </if>
      <if test="briefIntroduction != null" >
        brief_introduction = #{briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="startDeliveryPrice != null" >
        start_delivery_price = #{startDeliveryPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliveryStartingPrice != null" >
        delivery_starting_price = #{deliveryStartingPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliveryKilometerPrice != null" >
        delivery_kilometer_price = #{deliveryKilometerPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliveryDistanceLimit != null" >
        delivery_distance_limit = #{deliveryDistanceLimit,jdbcType=DECIMAL},
      </if>
      <if test="serviceRating != null" >
        service_rating = #{serviceRating,jdbcType=DECIMAL},
      </if>
      <if test="businessLicense != null" >
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="idCardFrontSide != null" >
        id_card_front_side = #{idCardFrontSide,jdbcType=VARCHAR},
      </if>
      <if test="idCardBackSide != null" >
        id_card_back_side = #{idCardBackSide,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="reducedDeliveryPrice != null" >
        reduced_delivery_price = #{reducedDeliveryPrice,jdbcType=DECIMAL},
      </if>
      <if test="isOpenOrderAudio != null" >
        is_open_order_audio = #{isOpenOrderAudio,jdbcType=BIT},
      </if>
      <if test="isOpenLocalPrint != null" >
        is_open_local_print = #{isOpenLocalPrint,jdbcType=BIT},
      </if>
      <if test="isOpenCloudPrint != null" >
        is_open_cloud_print = #{isOpenCloudPrint,jdbcType=BIT},
      </if>
      <if test="firstPoster != null" >
        first_poster = #{firstPoster,jdbcType=VARCHAR},
      </if>
      <if test="houseNumber != null" >
        house_number = #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siam.system.modular.package_goods.entity.Shop" >
    update tb_shop
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      is_operating = #{isOperating,jdbcType=BIT},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      manage_primary = #{managePrimary,jdbcType=VARCHAR},
      manage_minor = #{manageMinor,jdbcType=VARCHAR},
      shop_img = #{shopImg,jdbcType=VARCHAR},
      shop_within_img = #{shopWithinImg,jdbcType=VARCHAR},
      shop_logo_img = #{shopLogoImg,jdbcType=VARCHAR},
      certificate_type1 = #{certificateType1,jdbcType=VARCHAR},
      certificate_img1 = #{certificateImg1,jdbcType=VARCHAR},
      certificate_type2 = #{certificateType2,jdbcType=VARCHAR},
      certificate_img2 = #{certificateImg2,jdbcType=VARCHAR},
      special_type = #{specialType,jdbcType=VARCHAR},
      special_img = #{specialImg,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      audit_reason = #{auditReason,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      take_out_phone = #{takeOutPhone,jdbcType=VARCHAR},
      contact_realname = #{contactRealname,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      announcement = #{announcement,jdbcType=VARCHAR},
      brief_introduction = #{briefIntroduction,jdbcType=VARCHAR},
      start_delivery_price = #{startDeliveryPrice,jdbcType=DECIMAL},
      delivery_starting_price = #{deliveryStartingPrice,jdbcType=DECIMAL},
      delivery_kilometer_price = #{deliveryKilometerPrice,jdbcType=DECIMAL},
      delivery_distance_limit = #{deliveryDistanceLimit,jdbcType=DECIMAL},
      service_rating = #{serviceRating,jdbcType=DECIMAL},
      business_license = #{businessLicense,jdbcType=VARCHAR},
      id_card_front_side = #{idCardFrontSide,jdbcType=VARCHAR},
      id_card_back_side = #{idCardBackSide,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      reduced_delivery_price = #{reducedDeliveryPrice,jdbcType=DECIMAL},
      is_open_order_audio = #{isOpenOrderAudio,jdbcType=BIT},
      is_open_local_print = #{isOpenLocalPrint,jdbcType=BIT},
      is_open_cloud_print = #{isOpenCloudPrint,jdbcType=BIT},
      first_poster = #{firstPoster,jdbcType=VARCHAR},
      house_number = #{houseNumber,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>