<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siam.system.modular.package_order.mapper.internal.PointsMallOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.siam.system.modular.package_order.entity.internal.PointsMallOrderDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
    <result column="spec_list" property="specList" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="subtotal" property="subtotal" jdbcType="DECIMAL" />
    <result column="packing_charges" property="packingCharges" jdbcType="DECIMAL" />
    <result column="is_used_coupons" property="isUsedCoupons" jdbcType="BIT" />
    <result column="coupons_discount_price" property="couponsDiscountPrice" jdbcType="DECIMAL" />
    <result column="after_coupons_discount_price" property="afterCouponsDiscountPrice" jdbcType="DECIMAL" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <resultMap id="CustomResultMap" type="java.util.Map" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
    <result column="spec_list" property="specList" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="subtotal" property="subtotal" jdbcType="DECIMAL" />
    <result column="packing_charges" property="packingCharges" jdbcType="DECIMAL" />
    <result column="is_used_coupons" property="isUsedCoupons" jdbcType="BIT" />
    <result column="coupons_discount_price" property="couponsDiscountPrice" jdbcType="DECIMAL" />
    <result column="after_coupons_discount_price" property="afterCouponsDiscountPrice" jdbcType="DECIMAL" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_id, goods_id, goods_name, main_image, spec_list, price, number, subtotal,
    packing_charges, is_used_coupons, coupons_discount_price, after_coupons_discount_price,
    is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.siam.system.modular.package_order.model.example.OrderDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_points_mall_order_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_points_mall_order_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_points_mall_order_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.siam.system.modular.package_order.model.example.OrderDetailExample" >
    delete from tb_points_mall_order_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insertSelective" parameterType="com.siam.system.modular.package_order.entity.internal.PointsMallOrderDetail" useGeneratedKeys="true" keyProperty="id">
    insert into tb_points_mall_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="mainImage != null" >
        main_image,
      </if>
      <if test="specList != null" >
        spec_list,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="subtotal != null" >
        subtotal,
      </if>
      <if test="packingCharges != null" >
        packing_charges,
      </if>
      <if test="isUsedCoupons != null" >
        is_used_coupons,
      </if>
      <if test="couponsDiscountPrice != null" >
        coupons_discount_price,
      </if>
      <if test="afterCouponsDiscountPrice != null" >
        after_coupons_discount_price,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="mainImage != null" >
        #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="specList != null" >
        #{specList,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="subtotal != null" >
        #{subtotal,jdbcType=DECIMAL},
      </if>
      <if test="packingCharges != null" >
        #{packingCharges,jdbcType=DECIMAL},
      </if>
      <if test="isUsedCoupons != null" >
        #{isUsedCoupons,jdbcType=BIT},
      </if>
      <if test="couponsDiscountPrice != null" >
        #{couponsDiscountPrice,jdbcType=DECIMAL},
      </if>
      <if test="afterCouponsDiscountPrice != null" >
        #{afterCouponsDiscountPrice,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.siam.system.modular.package_order.model.example.OrderDetailExample" resultType="java.lang.Integer" >
    select count(*) from tb_points_mall_order_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_points_mall_order_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null" >
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.mainImage != null" >
        main_image = #{record.mainImage,jdbcType=VARCHAR},
      </if>
      <if test="record.specList != null" >
        spec_list = #{record.specList,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.subtotal != null" >
        subtotal = #{record.subtotal,jdbcType=DECIMAL},
      </if>
      <if test="record.packingCharges != null" >
        packing_charges = #{record.packingCharges,jdbcType=DECIMAL},
      </if>
      <if test="record.isUsedCoupons != null" >
        is_used_coupons = #{record.isUsedCoupons,jdbcType=BIT},
      </if>
      <if test="record.couponsDiscountPrice != null" >
        coupons_discount_price = #{record.couponsDiscountPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.afterCouponsDiscountPrice != null" >
        after_coupons_discount_price = #{record.afterCouponsDiscountPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_points_mall_order_detail
    set id = #{record.id,jdbcType=INTEGER},
    order_id = #{record.orderId,jdbcType=INTEGER},
    goods_id = #{record.goodsId,jdbcType=INTEGER},
    goods_name = #{record.goodsName,jdbcType=VARCHAR},
    main_image = #{record.mainImage,jdbcType=VARCHAR},
    spec_list = #{record.specList,jdbcType=VARCHAR},
    price = #{record.price,jdbcType=DECIMAL},
    number = #{record.number,jdbcType=INTEGER},
    subtotal = #{record.subtotal,jdbcType=DECIMAL},
    packing_charges = #{record.packingCharges,jdbcType=DECIMAL},
    is_used_coupons = #{record.isUsedCoupons,jdbcType=BIT},
    coupons_discount_price = #{record.couponsDiscountPrice,jdbcType=DECIMAL},
    after_coupons_discount_price = #{record.afterCouponsDiscountPrice,jdbcType=DECIMAL},
    is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.siam.system.modular.package_order.entity.internal.PointsMallOrderDetail" >
    update tb_points_mall_order_detail
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="mainImage != null" >
        main_image = #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="specList != null" >
        spec_list = #{specList,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="subtotal != null" >
        subtotal = #{subtotal,jdbcType=DECIMAL},
      </if>
      <if test="packingCharges != null" >
        packing_charges = #{packingCharges,jdbcType=DECIMAL},
      </if>
      <if test="isUsedCoupons != null" >
        is_used_coupons = #{isUsedCoupons,jdbcType=BIT},
      </if>
      <if test="couponsDiscountPrice != null" >
        coupons_discount_price = #{couponsDiscountPrice,jdbcType=DECIMAL},
      </if>
      <if test="afterCouponsDiscountPrice != null" >
        after_coupons_discount_price = #{afterCouponsDiscountPrice,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siam.system.modular.package_order.entity.internal.PointsMallOrderDetail" >
    update tb_points_mall_order_detail
    set order_id = #{orderId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      main_image = #{mainImage,jdbcType=VARCHAR},
      spec_list = #{specList,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      number = #{number,jdbcType=INTEGER},
      subtotal = #{subtotal,jdbcType=DECIMAL},
      packing_charges = #{packingCharges,jdbcType=DECIMAL},
      is_used_coupons = #{isUsedCoupons,jdbcType=BIT},
      coupons_discount_price = #{couponsDiscountPrice,jdbcType=DECIMAL},
      after_coupons_discount_price = #{afterCouponsDiscountPrice,jdbcType=DECIMAL},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>